.banner-bottom {
	color: #fff;
	margin-top: 32px;
	.big-text {
		font-size: 28px;
		line-height: 42px;
		font-family: 'Playfair Display', serif;
		margin-top: 14px;
		@media (max-width: 575.98px) { 
			font-size: 20px;
			line-height: 30px;
		}
	}
}

.banner-bottom {
	background-image: url('../images/clients.jpg');
	width: 100%;
	min-height: 350px;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
}