svg {
	max-width: 100%;
}

body {
	background: red!important;
	color: #000;
	font-family: 'Montserrat', sans-serif;
}
a {
	color:  #000;
	font-family: 'Montserrat', sans-serif;
}
h1 {
	color: green;
}