.slick-content {
	color: #fff;
	z-index: 100;
	max-width: 650px;
}
.hero-slider {
	margin-bottom: 0!important;
}
.hero {
	background-image: url('../images/clients.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 190px 0;
    .slick-dots {
	    li {
	    	outline: none!important;
	    	margin: 5px 0;
	    	width: 12px;
    		height: 12px;
			.slick-active {
				color: #fff;
				background-color: #fff;
				button { 
					color: #fff;
				}
			}
	    	button {
			    color: #fff;
			    border: 0;
			    outline: none;
			    background: transparent;
			    &:before {
				    opacity: 1;
				    color: transparent;
				    border-radius: 50%;
				    border: 1px solid #fff;
				    height: 10px;
				    width: 10px;
				}
			}
		}
	    li.slick-active  {
			button { 
				color: #fff;
			    &:before {
				    background-color: #fff;
				}
			}
			
		}
	}
}
.hero-slider-wrapper {
	padding-left: 100px;
}
.slick-dots {
    bottom: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;
    position: inherit;
}
.slick-list.draggable{
	padding : 0!important;
}
.slick-slide {
	padding-left: 40px;
	&:focus {
		outline: none!important;
	}
}
.slick-logo {
	max-width: 166px;
}
.slick-title {
	line-height: 50px;
	font-size: 42px;
	color: #fff;
	font-family: 'Playfair Display', serif;
	padding: 40px;
}
@media (max-width: 1199.98px) { 
	.slick-dots {
	    bottom: inherit;
	    width: inherit;
	    display: flex;
	    flex-direction: row;
	    position: inherit;
	}
}
@media (max-width: 991.98px) { 
	.hero {
	    padding: 130px 0;
	}
	.hero-slider-wrapper {
		padding-left: 70px;
	}
	.slick-slide {
		padding-left: 20px;

	}
	.slick-logo {
		max-width: 135px;
	}
	.slick-title {
		line-height: 40px;
		font-size: 32px;
	}
}
/*@media (max-width: 575.98px) { 
	.slick-content {
		height: 365px;
	}
	.hero-slider {
		margin-bottom: 0!important;
	}
	.slick-list.draggable {
		height: 365px!important;
	}
	.hero {
		height: 365px;
	    padding: 0;
	}
	.slick-slide {
		height: 365px!important;
	}
	.slick-logo {
		max-height: 100px;
		left: 40px;
	}
	.slick-title {
		line-height: 30px;
		font-size: 17px;
		max-width: 555px;
		left: 33%;
	}
}*/