.slick-content {
	color: #fff;
	z-index: 100;
	min-height: 300px;
	display: flex !important;
	align-items: center;
}

.hero-slider {
	margin-bottom: 0 !important;
}

.hero-slider-wrapper {
	padding-left: 80px;
	max-width: 100%;
}

.slick-list.draggable {
	padding: 0 !important;
}

.slider-static-img {
	max-width: 160px;
}

.slick-slide {
	&:focus {
		outline: none !important;
	}
}

.slider-wrapper {
	padding-left: 40px;
	overflow: hidden;
	flex: 1;
}

.hero {
	background-image: url('../images/hero.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	padding: 190px 0 130px 0;
	@media (max-width: 991.98px) {
		padding-top: 100px;
		padding-bottom: 50px;
	}
	.hero-slider-dots {
		margin-top: 50px;

		@media (max-width: 575.98px) {
			margin-top: 20px;
		}

	}
	.slick-dots {
		bottom: inherit;
		width: inherit;
		display: flex;
		flex-direction: row;
		position: inherit;

		li {
			outline: none !important;
			width: 12px;
			height: 12px;
			margin: 0 5px;
			.slick-active {
				color: #fff;
				background-color: #fff;
				button {
					color: #fff;
				}
			}
			button {
				color: #fff;
				border: 0;
				outline: none;
				background: transparent;
				&:before {
					opacity: 1;
					color: transparent;
					border-radius: 50%;
					border: 1px solid #fff;
					height: 10px;
					width: 10px;
				}
			}
		}
		li.slick-active {
			button {
				color: #fff;
				&:before {
					background-color: #fff;
				}
			}
		}
	}
}

.wrap-logo {
	max-height: 200px;
}

.slick-logo {
	max-width: 160px;
}

.slick-title {
	line-height: 50px;
	font-size: 42px;
	color: #fff;
	margin: 0;
	max-width: 580px!important;
	font-family: 'Playfair Display', serif;
}

@media (max-width: 991.98px) {
	.show-mobile-menu {
		display: none;
	}
	.hero-slider-dots {
		margin-top: 15px;
	}
	.slider-wrapper {
		padding-left: 20px;
		max-width: 100%;
	}
	.hero {
		z-index: 11;
		position: relative;
	}
	.hero-slider-wrapper {
		padding-left: 0px;
	}
	.slick-logo {
		max-width: 135px;
	}
	.slick-title {
		line-height: 40px;
		font-size: 32px;
	}
}

@media (max-width: 575.98px) {
	.hero {
		.slick-content {
			justify-content: center;
		}
		.slick-title {
			text-align: center;
		}
	}
	.slick-content {
		min-height: 220px;
	}
	.slider-wrapper {
		padding-left: 10px;
	}
	.slick-logo {
		max-width: 80px;
	}
	.slick-title {
		line-height: 32px;
		font-size: 24px;
	}
	.hero-slider-wrapper {
		flex-direction: column;
	}
}